.forget-container {
    width: 50%;
    margin: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }

.forget-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.goklassifieds.com/2023/07/Vasireddy-Venkatadri-Institute-of-Technology-Cover.jpeg') no-repeat center center/cover;
  }
  
  