.forget-container {
    width: 50%;
    margin: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }

.forget-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100vw;
  height: 100vh;
  object-fit: cover;
    background: url('https://www.shutterstock.com/image-illustration/yber-security-safety-information-personal-600nw-1832129089.jpg');
  }
  
  